.booking-container {
    position  : relative;
    text-align: center;
    color     : white;

    .space {
        height: 100px;
    }

    .booking-picture {
        width        : 1280px;
        height       : 650px;
        border-radius: 20px;
    }

    .text-centered {
        width      : 800px;
        position   : absolute;
        top        : 70%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        font-size  : 48px;
        font-weight: bolder;
    }

    .booking-button {
        cursor: pointer;

        position        : absolute;
        top             : 83%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        background-color: white;
        color           : purple;
        border-radius   : 50px;
        border          : none;
        padding         : 18px 32px;
        font-size       : 18px;
        font-weight     : bold;
    }

    .booking-button:hover {
        background-color: rgb(216, 214, 214);
    }
}