button {
    cursor: pointer;
}


.button-container {
    width           : 800px;
    height          : 70px;
    background-color: black;
    border-radius   : 50px;
    position        : relative;

    .text1 {
        color      : white;
        font-weight: bold;
        text-align : left;
        position   : absolute;
        top        : 5px;
        left       : 20px;
    }

    .text2 {
        color     : grey;
        text-align: left;
        position  : absolute;
        top       : 25px;
        left      : 20px;
    }

    .button1 {
        width           : 400px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 0px;
        background-color: black;
        border          : none;
    }

    .button1:hover {
        background-color: rgb(32, 32, 32);
    }

    .button2 {
        width           : 400px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 400px;
        background-color: black;
        border          : none;

    }

    .button2:hover {
        background-color: rgb(32, 32, 32);
    }

    .search-button {
        position        : absolute;
        top             : 10px;
        right           : 10px;
        width           : 50px;
        height          : 50px;
        border-radius   : 50px;
        border          : none;
        font-size       : 18px;
        background-color: rgb(255, 57, 92);
    }

    .search-button:hover {
        background-color: rgb(218, 53, 83);

    }
}