// .space {
//     height: 100px;
// }

.experiences-container {
    width              : 1280px;
    height             : 750px;
    // background-color: black;
    border-radius      : 20px;
    position           : relative;

    .experiences-title {
        color      : black;
        font-size  : 40px;
        font-weight: bold;
        text-align : left;

    }

    .picture-container {
        position: absolute;
        top     : 12%;
        width   : 1280px;
        height  : 650px;

        .pic1 {
            cursor       : pointer;
            position     : absolute;
            left         : 0px;
            top          : 0px;
            width        : 630px;
            height       : 650px;
            border-radius: 15px;
        }

        .text1 {
            position   : absolute;
            width      : 350px;
            left       : 70px;
            top        : 7%;
            color      : white;
            font-weight: bold;
            font-size  : 55px;
            text-align : left;
        }

        .button1 {
            cursor          : pointer;
            position        : absolute;
            top             : 255px;
            left            : 70px;
            background-color: white;
            color           : black;
            border-radius   : 10px;
            border          : none;
            padding         : 15px 25px;
            font-size       : 16px;
            font-weight     : bold;
        }

        .button1:hover {
            background-color: rgb(216, 214, 214);
        }

        .pic2 {
            cursor       : pointer;
            position     : absolute;
            top          : 0px;
            left         : 650px;
            width        : 630px;
            height       : 650px;
            border-radius: 15px;
        }

        .text2 {
            position   : absolute;
            width      : 350px;
            left       : 720px;
            top        : 7%;
            color      : white;
            font-weight: bold;
            font-size  : 55px;
            text-align : left;
        }

        .button2 {
            cursor          : pointer;
            position        : absolute;
            top             : 255px;
            left            : 720px;
            background-color: white;
            color           : black;
            border-radius   : 10px;
            border          : none;
            padding         : 15px 25px;
            font-size       : 16px;
            font-weight     : bold;
        }

        .button2:hover {
            background-color: rgb(216, 214, 214);
        }
    }
}