.space {
    height: 100px;
}

.next-trip-container {
    width              : 1280px;
    height             : 510px;
    // background-color: black;
    border-radius      : 20px;
    position           : relative;

    .next-trip-title {
        color      : black;
        font-size  : 40px;
        font-weight: bold;
        text-align : left;

    }

    .picture-container {
        position           : absolute;
        top                : 17%;
        width              : 1280px;
        height             : 420px;
        // background-color: white;

        .pic1-container {
            cursor          : pointer;
            position        : absolute;
            left            : 0px;
            width           : 300px;
            height          : 420px;
            background-color: rgb(204, 45, 74);
            border-radius   : 15px;

            .pic1 {
                position               : absolute;
                left                   : 0%;
                width                  : 300px;
                height                 : 210px;
                border-top-left-radius : 15px;
                border-top-right-radius: 15px;
            }

            .text1a {
                position   : absolute;
                left       : 15px;
                top        : 48%;
                color      : white;
                font-weight: bold;
                font-size  : 34px;
            }

            .text1b {
                position : absolute;
                left     : 15px;
                top      : 65%;
                color    : white;
                font-size: 20px;
            }
        }

        .pic2-container {
            cursor          : pointer;
            position        : absolute;
            left            : 326px;
            width           : 300px;
            height          : 420px;
            background-color: rgb(189, 25, 110);
            border-radius   : 15px;

            .pic2 {
                position               : absolute;
                left                   : 0%;
                width                  : 300px;
                height                 : 210px;
                border-top-left-radius : 15px;
                border-top-right-radius: 15px;
            }

            .text2a {
                position   : absolute;
                left       : 15px;
                top        : 48%;
                color      : white;
                font-weight: bold;
                font-size  : 34px;
            }

            .text2b {
                position : absolute;
                left     : 15px;
                top      : 65%;
                color    : white;
                font-size: 20px;
            }
        }

        .pic3-container {
            cursor          : pointer;
            position        : absolute;
            left            : 652px;
            width           : 300px;
            height          : 420px;
            background-color: rgb(216, 59, 47);
            border-radius   : 15px;

            .pic3 {
                position               : absolute;
                left                   : 0%;
                width                  : 300px;
                height                 : 210px;
                border-top-left-radius : 15px;
                border-top-right-radius: 15px;
            }

            .text3a {
                position   : absolute;
                left       : 15px;
                top        : 48%;
                color      : white;
                font-weight: bold;
                font-size  : 34px;
            }

            .text3b {
                position : absolute;
                left     : 15px;
                top      : 65%;
                color    : white;
                font-size: 20px;
            }
        }

        .pic4-container {
            cursor          : pointer;
            position        : absolute;
            left            : 980px;
            width           : 300px;
            height          : 420px;
            background-color: rgb(220, 50, 79);
            border-radius   : 15px;

            .pic4 {
                position               : absolute;
                left                   : 0%;
                width                  : 300px;
                height                 : 210px;
                border-top-left-radius : 15px;
                border-top-right-radius: 15px;
            }

            .text4a {
                position   : absolute;
                left       : 15px;
                top        : 48%;
                color      : white;
                font-weight: bold;
                font-size  : 34px;
            }

            .text4b {
                position : absolute;
                left     : 15px;
                top      : 65%;
                color    : white;
                font-size: 20px;
            }
        }
    }
}