.learn-more-container {
    width           : 1280px;
    height          : 350px;
    background-color: rgb(255, 57, 92);
    border-radius   : 20px;
    position        : relative;
    text-align      : center;

    .learn-more-title {
        width      : 1100px;
        position   : absolute;
        top        : 40%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        font-size  : 46px;
        font-weight: bold;
    }

    .learn-more-button {
        cursor          : pointer;
        position        : absolute;
        top             : 60%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        background-color: rgb(255, 57, 92);
        border-width    : 1px;
        border-color    : white;
        border-radius   : 8px;
        padding         : 12px 15px;
        font-size       : 13px;
        font-weight     : bold;
        color           : white
    }
}