.nav-container {
    position           : relative;
    width              : 1280px;
    height             : 80px;
    text-align         : center;
    // background-color: pink;

    .logo {
        position: absolute;
        left    : 0px;
        top     : 25px;
        width   : 100px;
        height  : 30px;
    }

    .places-button {
        width           : 120px;
        height          : 80px;
        border          : none;
        background-color: white;
        font-size       : 16px;

    }

    .places-button:hover {
        color: rgb(110, 107, 107);
    }

    .exp-button {
        width           : 110px;
        height          : 80px;
        border          : none;
        background-color: white;
        font-size       : 16px;
    }

    .exp-button:hover {
        color: rgb(110, 107, 107);
    }

    .onl-exp-button {
        width           : 160px;
        height          : 80px;
        border          : none;
        background-color: white;
        font-size       : 16px;
    }

    .onl-exp-button:hover {
        color: rgb(110, 107, 107);
    }

    .host-button {
        position        : absolute;
        top             : 20px;
        right           : 100px;
        width           : 110px;
        height          : 40px;
        border          : none;
        background-color: white;
        font-size       : 13px;
        border-radius   : 50px;
        font-weight     : bold;
    }

    .host-button:hover {
        background-color: rgb(110, 107, 107);
    }

    .lang-button {
        position        : absolute;
        top             : 20px;
        right           : 55px;
        width           : 40px;
        height          : 40px;
        border          : none;
        background-color: white;
        border-radius   : 50px;
    }

    .lang-button:hover {
        background-color: rgb(110, 107, 107);
    }

    .login-button {
        position        : absolute;
        right           : 0px;
        top             : 20px;
        width           : 50px;
        height          : 40px;
        background-color: white;
        border-width    : 1px;
        border-color    : black;
        border-radius   : 50px;
        font-size       : 20px
    }
}