button {
    cursor: pointer;
}


.button-container {
    width           : 800px;
    height          : 70px;
    background-color: black;
    border-radius   : 50px;
    position        : relative;
    text-align      : center;

    .text1 {
        color      : white;
        font-weight: bold;
        text-align : left;
        position   : absolute;
        top        : 5px;
        left       : 20px;
    }

    .text2 {
        color     : grey;
        text-align: left;
        position  : absolute;
        top       : 25px;
        left      : 20px;
    }

    .location-button {
        width           : 300px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 0px;
        background-color: black;
        border          : none;
    }

    .location-button:hover {
        background-color: rgb(32, 32, 32);
    }

    .checkin-button {
        width           : 150px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 300px;
        background-color: black;
        border          : none;

    }

    .checkin-button:hover {
        background-color: rgb(32, 32, 32);
    }

    .checkout-button {
        width           : 150px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 450px;
        background-color: black;
        border          : none;
    }

    .checkout-button:hover {
        background-color: rgb(32, 32, 32);
    }

    .guests-button {
        width           : 200px;
        height          : 70px;
        border-radius   : 50px;
        position        : absolute;
        left            : 600px;
        background-color: black;
        border          : none;

    }

    .guests-button:hover {
        background-color: rgb(32, 32, 32);
    }

    .search-button {
        position        : absolute;
        top             : 10px;
        right           : 10px;
        width           : 50px;
        height          : 50px;
        border-radius   : 50px;
        border          : none;
        font-size       : 18px;
        background-color: rgb(255, 57, 92);
    }

    .search-button:hover {
        background-color: rgb(206, 56, 84);

    }
}