.question-container {
    position  : relative;
    text-align: center;
    color     : white;

    .space {
        height: 100px;
    }

    .pic {
        width        : 1280px;
        height       : 650px;
        border-radius: 20px;
    }

    .text {
        width      : 600px;
        position   : absolute;
        top        : 160px;
        left       : 80px;
        font-size  : 95px;
        text-align : left;
        font-weight: bolder;
    }

    .button {
        cursor          : pointer;
        position        : absolute;
        bottom          : 100px;
        left            : 80px;
        background-color: white;
        color           : black;
        border-radius   : 10px;
        border          : none;
        padding         : 15px 25px;
        font-size       : 16px;
        font-weight     : bold;
    }

    .button:hover {
        background-color: rgb(216, 214, 214);
    }
}