.shop-container {
    width           : 1280px;
    height          : 320px;
    background-color: white;
    border-radius   : 20px;
    position        : relative;

    .pic {
        position: absolute;
        left    : 420px;
        width   : 860px;
        height  : 320px;
    }

    .text {
        position   : absolute;
        width      : 300px;
        font-size  : 50px;
        font-weight: bold;
        text-align : left;
        color      : black;
    }

    .button {
        cursor          : pointer;
        position        : absolute;
        top             : 190px;
        left            : 0px;
        background-color: rgb(31, 29, 29);
        color           : white;
        border-radius   : 10px;
        border          : none;
        padding         : 15px 25px;
        font-size       : 16px;
        font-weight     : bold;
    }

    .button:hover {
        background-color: black;
    }
}